[Unit]
Description=realm
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/realm -c /usr/local/etc/realm/config.toml

[Install]
WantedBy=multi-user.target
